aiohttp
aiofiles
asyncio
ffmpeg-python
Pillow
pyrogram
hachoir
lyricsgenius
py-tgcalls==0.8.2
wget
python-dotenv
youtube_search_python
youtube_search
speedtest-cli
motor
psutil
requests
youtube-search-python
rich
yt-dlp==2021.11.10.1 
pymongo[srv]
TgCrypto
